<!-- console.component.html -->
<div class="management-console mt-10 text-center flex justify-center">
  <div class="bg-cyan-800 w-3/4 p-2 pb-4 rounded-lg">
    <h1 class="font-mono text-6xl text-white underline text-center mt-3">Management Console</h1>
    <button (click)="createEvent()"
      class="font-mono text-white text-lg rounded bg-sky-900 hover:bg-sky-800 p-2 px-4 text-center mt-7 mb-4 ease-out duration-300">Create
      Event</button>
    <div class="event-wrapper flex justify-center">
      <div class="flex justify-center w-2/3 ">
        <ul class="flex flex-wrap justify-center">
          <div class="p-4 m-3 bg-sky-950 rounded h-36 flex justify-center items-center basis-1/5 flex-col"
            *ngFor="let data of events_data">
            <p class="font-mono text-white text-2xl">ID:{{ data.id }}</p>
            <p class="font-mono text-white text-2xl">{{ data.event }}</p>
            <button (click)="deleteEvent(data.id)"
              class="font-mono bg-sky-900 hover:bg-sky-800 text-white p-2 px-6 mt-2 rounded-md  ease-out duration-300">Delete</button>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
